.order-card--info::before,
.order-card--warn::before,
.order-card--success::before,
.order-card--muted::before {
  content: "";
  position: absolute;
  inset-block: 0.75rem;
  left: 0;
  width: 4px;
  border-radius: 9999px;
  opacity: 0.9;
  transition: all .2s ease;
}

.order-card--info::before {
  background: var(--color-info);
}

.order-card--warn::before {
  background: var(--color-warning);
}

.order-card--success::before {
  background: var(--color-success);
}

.order-card--muted::before {
  background: var(--color-muted);
  opacity: .7;
}