<a
  [routerLink]="item().route"
  routerLinkActive="bg-[var(--color-hover)] text-[var(--color-primary)] border-l-2 border-[var(--color-primary)]"
  [routerLinkActiveOptions]="{ exact: true }"
  [attr.aria-label]="'Navigate to ' + item().label"
  class="flex w-full items-center gap-3 rounded-lg
         border-l-2 border-transparent
         px-4 py-2.5 mt-2
         text-sm text-[var(--color-sec-text)]
         transition-all duration-200
         hover:bg-[var(--color-hover)]
         hover:text-[var(--color-primary)]"
>
  <i
    class="pi pi-{{ item().icon }} shrink-0 text-lg"
    aria-hidden="true">
  </i>

  <span class="truncate">
    {{ item().label }}
  </span>
</a>