<section class="flex h-full w-full flex-col border-r border-[var(--color-borders)]">
    <div class="w-full flex flex-col justify-center items-start">

        <!-- HEAD TITLE  -->
         <div class=" flex flex-col justify-center items-center w-full ">
            <div class="w-full flex justify-center items-center mt-9">
                <img src="/logo-white.png" alt="">
            </div>
            <div>
                <h1 class="text-2xl text-[var(--color-primary)] capitalize">Smart Restaurant POS</h1>
            </div>
         </div> 

         <!-- navigation -->

       
    </div> 
    <div class="mt-7 w-full flex flex-col items-stretch justify-center">
        <app-sidebar-nav></app-sidebar-nav>
     </div> 

     <div class="w-full px-3">
        <button
            (click)="openNewOrder()"
            class="mb-5 flex w-full items-center justify-center rounded-xl bg-[var(--color-primary)] px-4 py-3 font-semibold text-white transition hover:opacity-90">

            + New Order

        </button>
     </div>

</section>