:root {
    // --color-primary: #DB9C02;
    // --color-secondary: #db2d02;
    // --color-design: #D3C6B0;
    // --color-main-text: #3b3b3b;
    // --color-sec-text: #828482;
    // --color-borders: #6B7280;
    // --color-bg: #111111;
    // --blur: 20px;
    // --color-section-bg:#111111; 


     /* Brand */
     --color-primary: #FFC72C;
     --color-secondary: #DA291C;
     --color-success: #2E7D32;
 
     /* Accent */
     --color-design: #FFE08A;
 
     /* Text */
     --color-main-text: #F8F8F8;
     --color-sec-text: #B8B8B8;
 
     /* Backgrounds */
     --color-bg: #181818;
     --color-section-bg: #262626;
 
     /* Cards */
     --color-surface: #262626;
     --color-hover: #303030;
 
     /* Borders */
     --color-borders: #3A3A3A;
 
     /* States */
     --color-warning: #F59E0B;
     --color-danger: #DA291C;
     --color-info: #60A5FA;
 
     --blur: 20px;

    /* Brand */
   

  }
  
  .dark {
    /*Brand*/
    --color-primary: #FFC72C;
    --color-secondary: #DA291C;
    --color-success: #2E7D32;

    /* Accent */
    --color-design: #FFE08A;

    /* Text */
    --color-main-text: #F8F8F8;
    --color-sec-text: #B8B8B8;

    /* Backgrounds */
    --color-bg: #181818;
    --color-section-bg: #262626;

    /* Cards */
    --color-surface: #262626;
    --color-hover: #303030;

    /* Borders */
    --color-borders: #3A3A3A;

    /* States */
    --color-warning: #F59E0B;
    --color-danger: #DA291C;
    --color-info: #60A5FA;

    --blur: 20px;
  
  }
  


  // light theme
    //  /* Brand */
    //  --color-primary: #FFC72C;
    //  --color-secondary: #DA291C;
 
    //  /* Accent */
    //  --color-design: #FFE08A;
 
    //  /* Success */
    //  --color-success: #2E7D32;
 
    //  /* Text */
    //  --color-main-text: #1F2937;
    //  --color-sec-text: #6B7280;
 
    //  /* Backgrounds */
    //  --color-bg: #F5F5F5;
    //  --color-section-bg: #FFFFFF;
 
    //  /* Cards */
    //  --color-surface: #FFFFFF;
    //  --color-hover: #F9FAFB;
 
    //  /* Borders */
    //  --color-borders: #E5E7EB;
 
    //  /* States */
    //  --color-warning: #F59E0B;
    //  --color-danger: #DA291C;
    //  --color-info: #2563EB;
 
    //  --blur: 20px;